* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    display: grid;
    grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr;
}

.error {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr;
    background-color: hsl(0, 0%, 5%);
    color: hsl(0, 0%, 90%);
}
.errorBody{
    font-size: large;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    height : auto;
    width: 15rem;
    background-color: hsl(210, 100%, 50%);
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.btn:hover {
    background-color: hsl(210, 100%, 40%);
}